.App, .LoginWrapper {
    text-align: center;
}
.AddPosition{
    text-align: left;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.deactivated {
    background-color: green;
    color: white;
}

.activated {
    color: black;
    background-color: #ddd;
}

.container-box {
    margin-top: 25px;
}
/*Header*/
.navbar.navbar-default {
    min-height: 60px;
}
.navbar-default .navbar-nav>li>a {
    padding-top: 20px;
    font-weight: bold;
}
.project-name {
    margin: 2px 0 10px 0;
    font-size: 19px;
}
.project-name, .position-number {
    color: #1f5120;
}
.panel-heading .panel-title {
    color: #1f5120;
}
.panel-heading .btn-success {
    margin-top: 10px;
    float: right;
}
.main-container {
    display: table;
    width: 100%;
}
.left-container, .right-container {
    display: table-cell;
    padding: 15px;
    border: 1px solid #d6e9c6;
    vertical-align: top;
}
.left-container {
    width: 31%;
}
.right-container {
    width: 67%;
}
.panel.panel-success>.panel-heading {
    cursor: pointer;
    background-color: #d5eecb;
}
.panel-success>.panel-heading:hover {
    box-shadow: 0 0px 4px 3px #9aa4a3;
}
.panel.panel-success{
    margin-bottom: 0!important;
    margin-top: 20px !important
}

.bordered-box, .bs-callout {
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 3px;
}
.bs-callout {
    padding-bottom: 5px;
    border-left-width: 5px;
    border-left-color: #45a247;
    margin-bottom: 20px;
}
.bs-callout p {
    font-weight: bold;
}
.bs-callout .table {
    margin-bottom: 10px;
}
.LoginWrapper input[type=text],.LoginWrapper input[type=password],.LoginWrapper input[type=email],.LoginWrapper input[type=number] {
    width: 100%!important;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button:hover {
    opacity: 0.8;
}

.LoginWrapper .btn-default,.LoginWrapper .btn-primary{
    margin-right: 10px;
    width:20%;
    white-space: normal;
}
.container .addposition{
    margin-bottom: 30px!important;
}
.container {
    padding: 16px;
}

.LoginWrapper .form-group label{
    /*color:white;*/
    margin-left: 12px;
}

.LoginWrapper .form-group span{
    color:orange!important;
}
.LoginWrapper h1{
    margin-bottom: 40px;
    /*color:white;*/
    text-align: center;
}
.LoginWrapper h1 b{
    margin-top:20px;
}
.LoginWrapper .form{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

body .LoginWrapper{font-family: Arial, Helvetica, sans-serif;}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card .title {
    color: grey;
    font-size: 18px;
}

.card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.card button:hover,.card a:hover {
    opacity: 0.7;
}

.card img{
    width:45%;
    margin-top:20px;
}

.marginCard{
    margin: 24px 0;
}

#my-skills-endorsement .glober-image {
    margin-top: 50px;
    text-align: center;
}

          #my-glober-info .glober-image {
              margin: 0 auto;
              width: 45%;
          }

#my-skills-endorsement .glober-image img {
    width: 50%;
    max-width: 250px;
    border-radius: 50%;
}
          #my-glober-info .glober-image img {
              width: 45%;
              height: auto;
          }

#my-skills-endorsement .glober-image {
    margin-top: 50px;
    text-align: center;
}
.form input, .form textarea, .form dropdown{
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.Dropdown-control {
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}
.Dropdown-option{
    border: 1px solid lightgrey;
    padding: 10px;
    border-top: 0px solid lightgray;
    /*border-radius: 5px;*/
}

.Dropdown-control:before {
    content: "";
    position: absolute;
    right: 10px;
    top: 15px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid lightgrey;
}

.FormHeader{
    background-color: #d5eecb;

}

.Applied{
    display: none;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.LoginImg{
    width:30%;
}

.mar5Per{
    margin: 5%;
}